<div *ngIf="employee; else elseBlock">
    <h1>Employee details {{ employee.firstName }}</h1>
    <button mat-stroked-button color="primary" (click)="goBack()">Back</button>
    <button mat-stroked-button color="warn" (click)="deleteEmployee()">Delete</button>
   <form [formGroup]="employeeForm">
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" placeholder="First name" >
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" placeholder="Last name" >
        </mat-form-field>
    </p>
    <p>        
        <mat-form-field appearance="legacy">
            <mat-label>Sex</mat-label>
            <mat-select formControlName="sex">
              <mat-option value="0">Male</mat-option>
              <mat-option value="1">Female</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </p>
    <div formGroupName="address">
      <h3>Address</h3>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" placeholder="Country" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" placeholder="City" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" placeholder="Street" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>ZipCode</mat-label>
          <input matInput formControlName="zipCode" placeholder="ZipCode" >
        </mat-form-field>
      </p>
    </div>
    <div class="navigation">
      <button class="float-right"  mat-stroked-button color="basic" (click)="updateEmployee()">Update employee</button>      
      <!-- <button class="float-right"  mat-stroked-button color="basic" (click)="makeManager()">Make manager</button>       -->
    </div>   
  <div>
    <h3>Position</h3>
    <p>     
      
      <mat-form-field appearance="legacy">
          <mat-label ><span *ngIf='this.employeeForm.get("position").value == null'>Select position...</span>
             {{this.employeeForm.get("position").value?.name}}
          </mat-label>
          <mat-select [value]='this.employeeForm.get("position").value?.name' formControlName="position">
              <mat-option value="">Select position... </mat-option>
              <mat-option *ngFor="let item of positions;"  value="{{item.id}}">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
  </p>
  </div>
  <div class="navigation">
    <button class="float-right"  mat-stroked-button color="basic" (click)="changePosition()">Change position</button>
  </div>
</form>
    <div>
      <br/> <br/>
      <hr/>
        <h2>Employee projects:</h2>
        <p>        
          <mat-form-field appearance="legacy">
              <mat-label>Project</mat-label>
              <mat-select [formControl]="project">
                  <mat-option value="">Select project...</mat-option>
                  <mat-option *ngFor="let project of projects;"  value="{{project.id}}">{{project.name}}</mat-option>
              </mat-select>
            </mat-form-field>
      </p>
        <button mat-stroked-button color="primary" (click)="assignToProject()">Assign to project</button>
        <mat-list>
            <mat-list-item *ngFor="let project of employeeProjects"> 
                {{project.name}}
               <button class="text-button" title='Unassign employee from project.' mat-icon-button color="warn" (click)="unassignProject(project.id)">Unassign <mat-icon>close</mat-icon></button>
              </mat-list-item>
        </mat-list>
    </div>

</div>
<ng-template #elseBlock>    <h1>Employee not found.</h1></ng-template>
<ng-template #elseBlockPosition><span>Position</span> </ng-template>