
    <h1>Add new project</h1>
    <button mat-stroked-button color="primary" (click)="goBack()">Back</button>
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>Project name</mat-label>
          <input matInput [formControl]='projectName' placeholder="Project name" >
        </mat-form-field>
    </p>
    <app-error-messages [propertyName]="'Project name'" [control]="projectName"></app-error-messages>  

    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!this.projectName.valid">Save</button>