/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content{width: 90%;}
table{
    width: 100%;
}
a{
    color: White !important;
    font-size: 10pt;
    margin: 10px;    
    border-radius: 25rem;
    border-right: white 1px solid;
    padding: 5px 15px;
    float: right
}
a:hover{
    background-color: #0055bb;
}
.navigation{
    float: right;
    width: 100%;
}
.float-right{
    float:right;
}

button{
    margin: 5px 5px 15px 0px ;
}

.text-button{
    margin: 5px 5px 5px 15px !important;
}
