/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content{width: 90%;}
table{
    width: 100%;
}
a{
    color: white !important;
    font-size: 10pt;
    margin: 10px;
    background-color: lightblue;
    border-radius: 25rem;
    padding: 5px 15px;
    float: right
}
.navigation{
    float: right;
    width: 100%;
}
.float-right{
    float:right;
}